@import "./variables";

@mixin flex($flex-direction, $justify-content, $align-items, $flex-wrap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@mixin font(
  $font-family,
  $font-style,
  $font-weight,
  $font-size,
  $line-height,
  $letter-spacing,
  $color
) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
}

@mixin boxShadow {
  box-shadow: 2rem 2rem 6rem var(--grey), -2rem -2rem 6rem var(--white);
}

// INPUT

@mixin input($width, $padding) {
  border: none;
  outline: none;
  width: $width;
  padding: $padding;
  background-color: var(--grey);
  border-radius: 2rem;
  @include font("Montserrat", normal, 400, 1.3rem, 1rem, 0.1rem, var(--black));
}

// LABEL

@mixin label($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  @include font("Montserrat", normal, 400, 1.3rem, 1rem, 0.1rem, var(--richDarkGrey));
  transition: all 0.2s ease;
}

@mixin labelAnimation($Y) {
  &:focus + label,
  &:valid + label {
    transform: scale(0.65) translateY($Y);
  }
}

// BUTTONS

@mixin button {
  border: none;
  outline: none;
  background-color: inherit;
}

@mixin deleteButton($right, $top) {
  @include button;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-image: url("../assets/imgs/delete.png");
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  right: $right;
  top: $top;
  transition: all 0.2s ease;
  &:hover {
    background-color: var(--darkGrey);
  }
}
