@import "../../styles/variables";
@import "../../styles/mixins";

.main {
  margin-inline: 2rem;
  border-radius: 5rem;
  background: var(--lightGrey);
  @include boxShadow;
  @include flex(column, start, center, nowrap);
  padding: 2rem 2.5rem;
  gap: 3.5rem;
  &__title {
    @include font("Montserrat", normal, 600, 3rem, 1rem, 0.1rem, --black);
  }
}
