@import "../../styles/variables";
@import "../../styles/mixins";

.control {
  &__title {
    @include font("Montserrat", normal, 600, 2rem, 1.3rem, 0.1rem, var(--black));
    margin-bottom: 1rem;
    text-align: center;
  }
  &-form {
    @include flex(column, flex-start, center, nowrap);
    gap: 1rem;

    &-titleBlock {
      position: relative;
      @include flex(row, start, center, nowrap);

      &__input {
        @include input(20rem, 1.2rem 3.6rem 1.2rem 1rem);
        @include labelAnimation(-1.6rem);
        box-shadow: $boxShadowForInputs;
      }
      &__label {
        @include label(1.5rem, 1rem);
      }
      &__delete {
        @include roundButton(1rem, 0.7rem, "../assets/imgs/delete.png");
      }
    }

    &-todoBlock {
      position: relative;
      @include flex(row, start, center, nowrap);
      background-color: var(--grey);
      border-radius: 2rem;
      padding: 2rem;
      width: 35rem;
      box-shadow: $boxShadowForInputs;

      &__textArea {
        @include textArea;
      }

      &__label {
        @include label(2.7rem, 2rem);
      }

      &__delete {
        @include roundButton(1rem, 1.8rem, "../assets/imgs/delete.png");
      }
    }

    &__submit {
      @include submitButton;
    }
  }
}
