@import "./styles/reset";
@import "./styles/mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

html {
  font-size: 62.5%;
  --lightGrey: #dcd6d6;
  --grey: #a4a4a4;
  --darkGrey: #838282;
  --richDarkGrey: #636060;
  --white: #ffffff;
  --green: rgb(103, 197, 103);
  --black: rgb(19, 18, 18);
}

html[data-theme="dark"] {
  --lightGrey: #151418;
  --white: #151516;
  --grey: #3f3c3c;
}

#root {

  min-height: 100vh;
  @include flex(row, center, center, nowrap);
  // background-color: var(--white);
  background-color: gray;
  padding-block: 4rem;

}
